.header .nav-menu {
  height: 96px;
  border-radius: 0;
  background-color: #FFF;
  box-shadow: 0 4px 13px 0 rgba(0, 255, 163, 0.15);
  transition: all 0.3s ease; }
  .header .nav-menu.is-scrolling {
    padding: 0 0 0 60px;
    height: 50px; }
    .header .nav-menu.is-scrolling .navbar {
      padding: 0; }
      .header .nav-menu.is-scrolling .navbar .navbar-brand {
        padding: 10px 15px 30px 0; }
        .header .nav-menu.is-scrolling .navbar .navbar-brand img {
          width: 170px; }
          @media (min-width: 1600px) {
            .header .nav-menu.is-scrolling .navbar .navbar-brand img {
              width: 200px; } }
      .header .nav-menu.is-scrolling .navbar .navbar-collapse {
        margin-top: -20px; }
        .header .nav-menu.is-scrolling .navbar .navbar-collapse .navbar-nav li a {
          padding: 5px 32px 0 0; }
  .header .nav-menu .navbar {
    padding: 0 0 0 60px; }
    .header .nav-menu .navbar .navbar-brand {
      height: auto;
      outline: 0;
      padding: 34px 15px 30px 0;
      transition: all 0.3s ease; }
      .header .nav-menu .navbar .navbar-brand img {
        width: 195px; }
        @media (min-width: 1600px) {
          .header .nav-menu .navbar .navbar-brand img {
            width: 300px; } }
    .header .nav-menu .navbar .navbar-collapse {
      max-height: none;
      transition: all 0.3s ease; }
      .header .nav-menu .navbar .navbar-collapse .navbar-nav {
        position: relative;
        margin-bottom: 0; }
        .header .nav-menu .navbar .navbar-collapse .navbar-nav li {
          text-align: center;
          width: auto; }
          .header .nav-menu .navbar .navbar-collapse .navbar-nav li:last-child {
            margin-right: 0; }
          .header .nav-menu .navbar .navbar-collapse .navbar-nav li a {
            transition: all 0.3s ease;
            color: #0000ff;
            font-size: 0.8rem;
            position: relative;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            padding: 36px 32px 20px 0;
            text-transform: uppercase; }
            @media (min-width: 1600px) {
              .header .nav-menu .navbar .navbar-collapse .navbar-nav li a {
                font-size: 1vw; } }
            .header .nav-menu .navbar .navbar-collapse .navbar-nav li a:hover, .header .nav-menu .navbar .navbar-collapse .navbar-nav li a:focus {
              background-color: transparent;
              text-decoration: none; }
          .header .nav-menu .navbar .navbar-collapse .navbar-nav li.current-menu-item span {
            color: #00ffa3;
            border-bottom: 1px solid #00ffa3; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
  color: #0000ff; }

.section {
  padding-top: 140px; }

#home {
  margin: 140px 0 0 60px;
  padding-top: 0;
  overflow: hidden; }
  #home .lines img {
    display: block;
    width: 83%;
    height: 83%;
    float: right;
    margin-right: -95px; }
  #home .lines .who-text {
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute; }
    #home .lines .who-text span {
      font-size: 5.75vw;
      font-weight: 800;
      text-transform: uppercase; }

#who {
  width: 100%;
  padding-top: 90px; }
  #who .who-we-are {
    background-color: #0000ff;
    padding: 40px 0; }
    #who .who-we-are .h1-wrapper {
      width: 140px;
      height: 35px;
      margin-left: 60px;
      position: relative;
      margin-bottom: 10px; }
      #who .who-we-are .h1-wrapper h1 {
        position: absolute;
        color: #FFF;
        padding: 0 0 10px;
        font-size: 1vw; }
        #who .who-we-are .h1-wrapper h1:after {
          content: "";
          border-bottom: 1px solid #FFF;
          left: 0;
          right: 0;
          bottom: 5px;
          height: 1px;
          position: absolute; }
    #who .who-we-are span {
      color: #FFF;
      width: 41%;
      margin-left: 60px;
      font-size: 2.2vw;
      text-transform: uppercase;
      font-weight: 800;
      display: block; }
  #who .group-of-chengemakers {
    padding-top: 30px; }
    #who .group-of-chengemakers .image-wrapper {
      width: 48%;
      float: left; }
      #who .group-of-chengemakers .image-wrapper img {
        width: 100%;
        margin-left: -42px; }
    #who .group-of-chengemakers .text-wrapper {
      width: 52%;
      float: right; }
      #who .group-of-chengemakers .text-wrapper span {
        font-size: 2.2vw;
        font-weight: 800;
        display: block;
        line-height: 1.5vw; }
        #who .group-of-chengemakers .text-wrapper span.top {
          padding-bottom: 4%; }
        #who .group-of-chengemakers .text-wrapper span.bottom {
          line-height: 2.4vw; }
  #who .experts {
    margin: 60px 0 32px 124px; }
    #who .experts .quarter-block {
      width: 25%;
      float: left;
      position: relative; }
      #who .experts .quarter-block .image {
        max-width: 80%;
        position: relative;
        height: 100%; }
        #who .experts .quarter-block .image .bg-image {
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 70%;
          z-index: -1; }
        #who .experts .quarter-block .image .bg-text {
          width: 100%;
          position: absolute;
          top: 50%;
          line-height: 2.7vw;
          font-size: 2vw;
          text-align: center;
          font-weight: 800;
          color: #0000ff;
          text-transform: uppercase;
          transform: translateY(-50%); }
        #who .experts .quarter-block .image .bg-under {
          margin-bottom: -100%; }
      #who .experts .quarter-block .text {
        padding-right: 20%;
        padding-top: 15%;
        font-size: 1vw; }
  #who .lines {
    overflow: hidden;
    padding-top: 3%;
    float: right;
    width: 40%; }
    #who .lines img {
      display: block; }

#what {
  padding-top: 130px; }
  #what .what-we-are-doing .h1-wrapper {
    width: 224px;
    height: 35px;
    margin-left: 60px;
    position: relative;
    margin-bottom: 20px; }
    #what .what-we-are-doing .h1-wrapper h1 {
      position: absolute;
      color: #00ffa3;
      padding: 0 0 10px;
      font-size: 1vw; }
      #what .what-we-are-doing .h1-wrapper h1:after {
        content: "";
        border-bottom: 1px solid #00ffa3;
        left: 0;
        right: 0;
        bottom: 5px;
        height: 1px;
        position: absolute; }
  #what .experts {
    margin: 60px 0 32px 124px; }
    #what .experts .quarter-block {
      width: 25%;
      float: left;
      position: relative; }
      #what .experts .quarter-block .image {
        max-width: 80%;
        position: relative;
        height: 100%; }
        #what .experts .quarter-block .image .bg-text {
          width: 100%;
          position: absolute;
          top: 50%;
          line-height: 2.7vw;
          font-size: 2vw;
          text-align: center;
          font-weight: 800;
          color: #0000ff;
          text-transform: uppercase;
          transform: translateY(-50%); }
        #what .experts .quarter-block .image .bg-under {
          margin-bottom: -100%; }
      #what .experts .quarter-block .text {
        padding-right: 20%;
        padding-top: 15%;
        font-size: 1vw; }
  #what .lines {
    overflow: hidden;
    padding-top: 3%;
    float: right;
    width: 40%; }
    #what .lines img {
      display: block; }

#methodology {
  padding-top: 130px; }
  #methodology .h1-wrapper {
    width: 224px;
    height: 35px;
    margin-left: 60px;
    position: relative;
    margin-bottom: 10px; }
    #methodology .h1-wrapper h1 {
      position: absolute;
      color: #00ffa3;
      padding: 0 0 10px;
      font-size: 1vw; }
      #methodology .h1-wrapper h1:after {
        content: "";
        border-bottom: 1px solid #00ffa3;
        left: 0;
        right: 0;
        bottom: 5px;
        height: 1px;
        position: absolute; }
  #methodology .wrapper {
    padding-left: 60px;
    padding-bottom: 60px; }
    #methodology .wrapper .half-block {
      width: 50%;
      float: left;
      padding-right: 70px; }
    #methodology .wrapper .left-block {
      width: 60%;
      float: left; }
    #methodology .wrapper .right-block {
      width: 40%;
      float: right; }
    #methodology .wrapper .title {
      border-bottom: 2px solid #0000ff; }
      #methodology .wrapper .title h1 {
        color: #0000ff;
        font-size: 2.3vw;
        font-weight: 800; }
    #methodology .wrapper .text {
      font-size: 1vw;
      padding-top: 20px; }
    #methodology .wrapper .flower {
      transform: translateY(27%); }

#why {
  padding-top: 130px; }
  #why .h1-wrapper {
    width: 251px;
    height: 35px;
    margin-left: 60px;
    position: relative;
    margin-bottom: 10px; }
    #why .h1-wrapper h1 {
      position: absolute;
      color: #00ffa3;
      padding: 0 0 10px;
      font-size: 1vw; }
      #why .h1-wrapper h1:after {
        content: "";
        border-bottom: 1px solid #00ffa3;
        left: 0;
        right: 0;
        bottom: 5px;
        height: 1px;
        position: absolute; }
  #why .with {
    padding-left: 60px;
    margin-bottom: 70px; }
    #why .with .half-block {
      width: 50%;
      float: left; }
      #why .with .half-block span {
        font-size: 2vw;
        line-height: 2.7vw;
        font-weight: 800;
        color: #0000ff;
        text-transform: uppercase; }
      #why .with .half-block:nth-child(2) {
        float: right; }
        #why .with .half-block:nth-child(2) img {
          width: 95%;
          float: right; }
  #why .experts {
    margin: 30px 124px 32px 124px; }
    #why .experts .tetra-block {
      width: 20%;
      float: left; }
      #why .experts .tetra-block .wrapper {
        width: 100%; }
        #why .experts .tetra-block .wrapper .image img {
          width: 60%; }
        #why .experts .tetra-block .wrapper .text {
          margin-top: 20px;
          font-size: 1vw;
          padding-right: 20%; }

#dream {
  padding-top: 62px; }
  #dream .dream {
    float: left;
    width: 40%;
    background-color: #0000ff;
    padding: 65px 0; }
    #dream .dream .h1-wrapper {
      width: 140px;
      height: 35px;
      margin-left: 60px;
      position: relative; }
      #dream .dream .h1-wrapper h1 {
        position: absolute;
        color: #FFF;
        padding: 0 0 10px;
        font-size: 1vw; }
        #dream .dream .h1-wrapper h1:after {
          content: "";
          border-bottom: 1px solid #FFF;
          left: 0;
          right: 0;
          bottom: 5px;
          height: 1px;
          position: absolute; }
    #dream .dream span {
      color: #FFF;
      width: 90%;
      padding-left: 60px;
      font-size: 2vw;
      text-transform: uppercase;
      font-weight: 800;
      display: block; }
  #dream .reweave {
    width: 60%;
    float: left;
    margin-top: 4%; }
    #dream .reweave .bg-under img {
      float: right;
      width: 70%; }
    #dream .reweave .bg-over img {
      margin-top: -6%;
      margin-right: 6%;
      width: 80%;
      float: right; }

#join {
  padding-top: 140px;
  overflow: hidden; }
  #join .who-text {
    padding-left: 60px;
    width: 65%;
    top: 205px;
    position: absolute; }
    #join .who-text span {
      font-size: 5.75vw;
      font-weight: 800; }
  #join .lines img {
    display: block;
    width: 83%;
    height: 83%;
    float: right;
    margin-right: -95px; }
  #join .partner {
    margin-top: 40px;
    background: #0000ff;
    position: relative; }
    #join .partner .wrapper {
      width: 60%;
      padding: 0;
      margin: 0 auto; }
      #join .partner .wrapper .email {
        float: left; }
        #join .partner .wrapper .email svg {
          height: 65px;
          padding: 15px 0;
          fill: #FFF;
          vertical-align: middle; }
      #join .partner .wrapper span {
        color: #FFF;
        float: left;
        font-weight: 800;
        font-size: 1.5vw;
        margin-left: 2%;
        padding-top: 18px; }
  #join .wrapper {
    padding-top: 60px; }
    #join .wrapper .image-wrapper {
      width: 50%;
      float: left; }
      #join .wrapper .image-wrapper img {
        width: 100%; }
    #join .wrapper .text-wrapper {
      width: 50%;
      float: right; }
      #join .wrapper .text-wrapper span {
        padding-left: 25px;
        font-size: 2vw;
        font-weight: 800;
        display: block;
        line-height: 1.5vw; }
        #join .wrapper .text-wrapper span a {
          color: #0000ff; }
          #join .wrapper .text-wrapper span a:hover, #join .wrapper .text-wrapper span a:active {
            color: #0000ff;
            text-decoration: none; }
        #join .wrapper .text-wrapper span.top {
          padding-bottom: 7%; }
        #join .wrapper .text-wrapper span.bottom {
          line-height: 2.5vw;
          font-weight: 500; }
    #join .wrapper:nth-child(2) .image-wrapper {
      float: right; }
    #join .wrapper:nth-child(2) .text-wrapper {
      float: left;
      text-align: right;
      padding-right: 2%; }

.footer {
  margin-top: 40px;
  background-color: #0000ff;
  padding-bottom: 30px;
  color: #FFF;
  font-weight: 500;
  font-size: 2vw; }
  .footer .left {
    padding-top: 60px;
    float: left;
    padding-left: 76px; }
    .footer .left span {
      display: block; }
  .footer .right {
    float: right;
    padding-top: 60px;
    padding-right: 76px; }
    .footer .right a {
      display: block;
      color: #FFF; }
      .footer .right a:hover, .footer .right a:active {
        color: #FFF; }

/*# sourceMappingURL=styles.css.map */
