.footer {
    margin-top: 40px;
    background-color: #0000ff;
    padding-bottom: 30px;
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    @media (min-width: $screen-md-min) {
        font-size: 2vw;
    }



    .left {
        padding-top: 28px;
        float: left;
        padding-left: 28px;
        @media (min-width: $screen-md-min) {
            padding-top: 60px;
            padding-left: 76px;
        }
        span {
            display: block;
            text-transform: uppercase;
        }

    }
    .right {
        float: left;
        padding-left: 28px;
        @media (min-width: $screen-md-min) {
            padding-right: 28px;
            padding-top: 60px;
            float: right;
        }
        a {
            display: block;
            color: #FFF;
            &:hover, &:active {
                color: #FFF;
                text-decoration: none;
            }
        }
    }
}