.footer {
    background-color: #eeeeee;
    margin-top: 32px;
    .footer-text {
        color: #000;
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
        opacity: .54;
        padding: 20px 40px;
    }
}