.header {
	.nav-menu {
		height: 96px;
		border-radius: 0;
		background-color: #FFF;
		box-shadow: 0 4px 13px 0 rgba(0, 255, 163, 0.15);
		transition: all 0.3s ease;

		&.is-scrolling {
			padding: 0 0 0 60px;
			height: 50px;
			.navbar {
				padding: 0;
				.navbar-brand {
					padding: 10px 15px 30px 0;
					img {
						width: 170px;
						@media (min-width: $screen-bg-min) {
							width: 200px;
						}
					}
				}
				.navbar-collapse {
					margin-top: -20px;
					.navbar-nav {
						li {
							a {
								padding: 5px 32px 0 0;
							}
						}
					}
				}
			}
		}

		.navbar {
			padding: 0 0 0 60px;
			.navbar-brand {
				height: auto;
				outline: 0;
				padding: 34px 15px 30px 0;
				transition: all 0.3s ease;
				img {
					width: 195px;
					@media (min-width: $screen-bg-min) {
					  	width: 300px;
					}
				}
			}

			.navbar-collapse {
				max-height: none;
				transition: all 0.3s ease;

				.navbar-nav {
					position: relative;
					margin-bottom: 0;
					li {
						text-align: center;
						width: auto;
						&:last-child {
							margin-right: 0;
						}
						a {
							transition: all 0.3s ease;
							color: #0000ff;
							font-size: 0.8rem;
							position: relative;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: normal;
							text-align: center;
							padding: 36px 32px 20px 0;
							text-transform: uppercase;
							@media (min-width: $screen-bg-min) {
								font-size: 1vw;
							}
							&:hover, &:focus {
								background-color: transparent;
								text-decoration: none;
							}
						}
						&.current-menu-item {
							span {
								color: #00ffa3;
								border-bottom: 1px solid #00ffa3;
							}
						}
					}
				}
			}
		}
	}
}

