body {
	font-family: $main-font;
	font-weight: 500;
	position: relative;
	color: #0000ff;
}

.section {
	padding-top: 140px;
}

#home {
	padding: 140px 0 0 60px;
	overflow: hidden;
	.who-text {
		width: 50%;
		top: 205px;
		position: absolute;
		span {
			font-size: 5.75vw;
			font-weight: 800;
			text-transform: uppercase;
		}
	}
	.lines {
		img {
			display: block;
			width: 83%;
			height: 83%;
			float: right;
			margin-right: -95px;
		}
	}
}

#who {
	width: 100%;
	padding-top: 90px;
	.who-we-are {
		background-color: #0000ff;
		padding: 40px 0;

		.h1-wrapper {
			width: 140px;
			height: 35px;
			margin-left: 60px;
			position: relative;
			margin-bottom: 10px;

			h1 {
				position: absolute;
				color: #FFF;
				padding: 0 0 10px;
				font-size: 1vw;

				&:after {
					content: "";
					border-bottom: 1px solid #FFF;
					left: 0;
					right: 0;
					bottom: 5px;
					height: 1px;
					position: absolute;
				}
			}
		}


		span {
			color: #FFF;
			width: 41%;
			margin-left: 60px;
			font-size: 2.2vw;
			text-transform: uppercase;
			font-weight: 800;
			display: block;
		}
	}

	.group-of-chengemakers {
		padding-top: 30px;
		.image-wrapper {
			width: 48%;
			float: left;

			img {
				width: 100%;
				margin-left: -42px;
			}
		}

		.text-wrapper {
			width: 52%;
			float: right;
			span {
				font-size: 2.2vw;
				font-weight: 800;
				display: block;
				line-height: 1.5vw;

				&.top {
					padding-bottom: 4%;
				}

				&.bottom {
					line-height: 2.4vw;
				}
			}
		}
	}
	.experts {
		margin: 60px 0 32px 124px;
		.quarter-block {
			width: 25%;
			float: left;
			position: relative;

			.image {
				max-width: 80%;
				position: relative;
				height: 100%;

				.bg-image {
					position: absolute;
					top: 10%;
					left: 18%;
					width: 100%;
					z-index: -1;
				}

				.bg-text {
					width: 100%;
					position: absolute;
					top: 50%;
					line-height: 2.7vw;
					font-size: 2vw;
					text-align: center;
					font-weight: 800;
					color: #0000ff;
					text-transform: uppercase;
					transform: translateY(-50%);
				}


				.bg-under {
					margin-bottom: -100%;
				}
			}

			.text {
				padding-right: 20%;
				padding-top: 15%;
				font-size: 1vw;
			}
		}
	}
	.lines {
		overflow: hidden;
		padding-top: 3%;
		float: right;
		width: 40%;
		img {
			display: block;
		}
	}
}

#what {
	padding-top: 130px;
	.what-we-are-doing {
		.h1-wrapper {
			width: 224px;
			height: 35px;
			margin-left: 60px;
			position: relative;
			margin-bottom: 20px;

			h1 {
				position: absolute;
				color: #00ffa3;
				padding: 0 0 10px;
				font-size: 1vw;

				&:after {
					content: "";
					border-bottom: 1px solid #00ffa3;
					left: 0;
					right: 0;
					bottom: 5px;
					height: 1px;
					position: absolute;
				}
			}
		}
	}

	.experts {
		margin: 60px 0 32px 124px;
		.quarter-block {
			width: 25%;
			float: left;
			position: relative;

			.image {
				max-width: 80%;
				position: relative;
				height: 100%;

				.bg-text {
					width: 100%;
					position: absolute;
					top: 50%;
					line-height: 2.7vw;
					font-size: 2vw;
					text-align: center;
					font-weight: 800;
					color: #0000ff;
					text-transform: uppercase;
					transform: translateY(-50%);
				}


				.bg-under {
					margin-bottom: -100%;
				}
			}

			.text {
				padding-right: 20%;
				padding-top: 15%;
				font-size: 1vw;
			}
		}
	}
	.lines {
		overflow: hidden;
		padding-top: 3%;
		float: right;
		width: 40%;
		img {
			display: block;
		}
	}
}

#methodology {
	padding-top: 130px;
	.h1-wrapper {
		width: 224px;
		height: 35px;
		margin-left: 60px;
		position: relative;
		margin-bottom: 10px;

		h1 {
			position: absolute;
			color: #00ffa3;
			padding: 0 0 10px;
			font-size: 1vw;

			&:after {
				content: "";
				border-bottom: 1px solid #00ffa3;
				left: 0;
				right: 0;
				bottom: 5px;
				height: 1px;
				position: absolute;
			}
		}
	}
	.wrapper {
		padding-left: 60px;

		.half-block {
			width: 50%;
			float: left;
			padding-right: 70px;
		}

		.left-block {
			width: 60%;
			float: left;
		}
		.right-block {
			width: 40%;
			float: right;
		}

		.title {
			border-bottom: 2px solid #0000ff;

			h1 {
				color: #0000ff;
				font-size: 2.3vw;
				font-weight: 800;
			}
		}

		.text {
			font-size: 1vw;
			padding-top: 20px;
		}

	}
}

#why {
	padding-top: 130px;
	.h1-wrapper {
		width: 251px;
		height: 35px;
		margin-left: 60px;
		position: relative;
		margin-bottom: 10px;

		h1 {
			position: absolute;
			color: #00ffa3;
			padding: 0 0 10px;
			font-size: 1vw;

			&:after {
				content: "";
				border-bottom: 1px solid #00ffa3;
				left: 0;
				right: 0;
				bottom: 5px;
				height: 1px;
				position: absolute;
			}
		}
	}

	.with {
		padding-left: 60px;
		margin-bottom: 70px;

		.half-block {
			width: 50%;
			float: left;
			span {
				font-size: 2vw;
				line-height: 2.7vw;
				font-weight: 800;
				color: #0000ff;
				text-transform: uppercase;
			}

			&:nth-child(2) {
				float: right;
				img {
					width: 100%;
				}
			}
		}
	}
	.experts {
		margin: 30px 124px 32px 124px;
		.tetra-block {
			width: 20%;
			float: left;

			.wrapper {
				width: 100%;

				.image {
					img {
						max-height: 150px;
						min-height: 150px;
						width: 55%;
					}
				}

				.text {
					margin-top: 20px;
					font-size: 1vw;
					padding-right: 20%;
				}
			}
		}
	}
}

#dream {
	padding-top: 62px;
	.dream {
		float: left;
		width: 40%;
		background-color: #0000ff;
		padding: 65px 0;

		.h1-wrapper {
			width: 140px;
			height: 35px;
			margin-left: 60px;
			position: relative;

			h1 {
				position: absolute;
				color: #FFF;
				padding: 0 0 10px;
				font-size: 1vw;

				&:after {
					content: "";
					border-bottom: 1px solid #FFF;
					left: 0;
					right: 0;
					bottom: 5px;
					height: 1px;
					position: absolute;
				}
			}
		}


		span {
			color: #FFF;
			width: 90%;
			padding-left: 60px;
			font-size: 2vw;
			text-transform: uppercase;
			font-weight: 800;
			display: block;
		}
	}
	.reweave {
		width: 60%;
		float: left;
		margin-top: 4%;
		.bg-under {
			img {
				float: right;
				width: 70%;
			}
		}
		.bg-over {
			img {
				margin-top: -6%;
				margin-right: 6%;
				width: 80%;
				float: right;
			}
		}
	}
}

#join {
	padding-top: 140px;
	overflow: hidden;

	.who-text {
		padding-left: 60px;
		width: 65%;
		top: 205px;
		position: absolute;
		span {
			font-size: 5.75vw;
			font-weight: 800;
		}
	}
	.lines {
		img {
			display: block;
			width: 83%;
			height: 83%;
			float: right;
			margin-right: -95px;
		}
	}


	.partner {
		margin-top: 40px;
		background: #0000ff;
		position: relative;
		.wrapper {
			width: 60%;
			padding: 0;
			margin: 0 auto;
			.email {
				float: left;
				svg {
					height: 65px;
					padding: 15px 0;
					fill: #FFF;
					vertical-align: middle;
				}
			}
			span {
				color: #FFF;
				float: left;
				font-weight: 800;
				font-size: 1.5vw;
				margin-left: 2%;
				padding-top: 18px;
			}
		}
	}

	.wrapper {
		padding-top: 60px;
		.image-wrapper {
			width: 50%;
			float: left;

			img {
				width: 100%;
			}
		}

		.text-wrapper {
			width: 50%;
			float: right;
			span {
				padding-left: 25px;
				font-size: 2vw;
				font-weight: 800;
				display: block;
				line-height: 1.5vw;

				a {
					color: #0000ff;
					&:hover, &:active {
						color: #0000ff;
						text-decoration: none;
					}
				}

				&.top {
					padding-bottom: 8%;
				}

				&.bottom {
					line-height: 2vw;
					font-weight: 500;
				}
			}
		}
		&:nth-child(2) {
			.image-wrapper {
				float:right;
			}

			.text-wrapper {
				float:left;
				text-align: right;
				padding-right: 2%;
			}
		}
	}


}
