body {
	font-family: $main-font;
	font-weight: 500;
	position: relative;
	color: #0000ff;
}

.section {
	padding-top: 140px;
}

#home {
	padding: 180px 0 60px 0;
	overflow: hidden;
	.who-text {
		width: 35%;
		position: absolute;
		left: 10%;
		span {
			font-size: 5.75vw;
			font-weight: 800;
		}
	}
	.lines {
		img {
			display: block;
			width: 80%;
			float: right;
			margin-right: -150px;
		}
	}
}

#who {
	width: 100%;
	.who-we-are {
		background-color: #0000ff;
		padding: 80px 0;

		.h1-wrapper {
			width: 140px;
			height: 35px;
			margin-left: 76px;
			position: relative;
			margin-bottom: 44px;

			h1 {
				position: absolute;
				color: #FFF;
				padding: 0 0 10px;
				font-size: 1vw;

				&:after {
					content: "";
					border-bottom: 1px solid #FFF;
					left: 0;
					right: 0;
					bottom: 5px;
					height: 1px;
					position: absolute;
				}
			}
		}


		span {
			color: #FFF;
			width: 32%;
			padding-left: 76px;
			font-size: 2vw;
			text-transform: uppercase;
			font-weight: 800;
			display: block;
		}
	}

	.group-of-chengemakers {
		padding-top: 60px;
		.image-wrapper {
			width: 50%;
			float: left;

			img {
				width: 100%;
			}
		}

		.text-wrapper {
			width: 50%;
			float: right;
			span {
				padding-left: 25px;
				font-size: 2vw;
				font-weight: 800;
				display: block;
				line-height: 1.5vw;

				&.top {
					padding-bottom: 8%;
				}

				&.bottom {
					line-height: 2vw;
				}
			}
		}
	}
	.experts {
		margin: 100px 76px;
		.quarter-block {
			width: 25%;
			float: left;

			.image {
				.bg-over {
					width: 100%;
					padding: 0 26% 0 0;

					&:before {
						content: "";
						display: block;
						width: 100%;
						height: 0;
						padding-bottom: 100%;
						background: #0000ff;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						border-radius: 50%;
						margin-bottom: -100%;
					}

					&:after {
						content: "";
						display: block;
						width: 96%;
						height: 0;
						padding: 48%;
						margin: 2% 0% 5% 2%;
						background: #FFF;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						border-radius: 50%;
					}

					.bg-text {
						float: left;
						width: 100%;
						padding-top: 50%;
						line-height: 2.7vw;
						font-size: 2vw;
						margin-top: -0.7em;
						text-align: center;
						font-weight: 800;
						color: #0000ff;
						text-transform: uppercase;
					}
				}

				.bg-under {
					margin-bottom: -100%;
				}
			}

			&:nth-child(1), &:nth-child(2) {
				.image {
					.bg-over {
						.bg-text {
							margin-top: -1.2em;
						}
					}
				}
			}
			&:nth-child(2), &:nth-child(3) {
				.image {
					.bg-over {
						padding: 0 13%;
					}
				}

			}

			&:nth-child(4) {
				float: right;

				.image {
					.bg-over {
						padding: 0 0 0 26%;
					}
				}
			}

			.text {
				padding-right: 26%;
				padding-top: 15%;
			}

			&:nth-child(2), &:nth-child(3) {
				.text {
					padding: 15% 13% 0 13%;
				}
			}

			&:nth-child(4) {
				.text {
					padding-left: 26%;
					padding-right: 0;
				}
			}
		}

		.lines {
			padding-top: 12%;
			float: right;
			width: 40%;
			img {
				display: block;
			}
		}
	}
}

#what {
	.what-we-are-doing {
		.h1-wrapper {
			width: 224px;
			height: 35px;
			margin-left: 76px;
			position: relative;
			margin-bottom: 44px;

			h1 {
				position: absolute;
				color: #00ffa3;
				padding: 0 0 10px;
				font-size: 1vw;

				&:after {
					content: "";
					border-bottom: 1px solid #00ffa3;
					left: 0;
					right: 0;
					bottom: 5px;
					height: 1px;
					position: absolute;
				}
			}
		}
	}

	.experts {
		margin: 100px 76px;
		.quarter-block {
			width: 25%;
			float: left;

			.image {
				.bg-over {
					width: 100%;
					padding: 0 26% 0 0;

					&:before {
						content: "";
						display: block;
						width: 100%;
						height: 0;
						padding-bottom: 100%;
						background: #0000ff;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						border-radius: 50%;
						margin-bottom: -100%;
					}

					&:after {
						content: "";
						display: block;
						width: 96%;
						height: 0;
						padding: 48%;
						margin: 2% 0% 5% 2%;
						background: #FFF;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						border-radius: 50%;
					}

					.bg-text {
						float: left;
						width: 100%;
						padding-top: 50%;
						line-height: 2.7vw;
						font-size: 2vw;
						margin-top: -0.7em;
						text-align: center;
						font-weight: 800;
						color: #0000ff;
						text-transform: uppercase;
					}
				}

				.bg-under {
					margin-bottom: -100%;
				}
			}

			&:nth-child(1) {
				.image {
					.bg-over {
						.bg-text {
							margin-top: -0.5em;
						}
					}
				}
			}

			&:nth-child(2), &:nth-child(4) {
				.image {
					.bg-over {
						.bg-text {
							margin-top: -1.8em;
						}
					}
				}
			}

			&:nth-child(3) {
				.image {
					.bg-over {
						.bg-text {
							margin-top: -1.2em;
						}
					}
				}
			}

			&:nth-child(2), &:nth-child(3) {
				.image {
					.bg-over {
						padding: 0 13%;
					}
				}

			}

			&:nth-child(4) {
				float: right;

				.image {
					.bg-over {
						padding: 0 0 0 26%;
					}
				}
			}

			.text {
				padding-right: 26%;
				padding-top: 15%;
			}

			&:nth-child(2), &:nth-child(3) {
				.text {
					padding: 15% 13% 0 13%;
				}
			}

			&:nth-child(4) {
				.text {
					padding-left: 26%;
					padding-right: 0;
				}
			}
		}

		.lines {
			padding-top: 12%;
			float: right;
			width: 40%;
			img {
				display: block;
			}
		}
	}
}

#methodology {
	.h1-wrapper {
		width: 224px;
		height: 35px;
		margin-left: 76px;
		position: relative;
		margin-bottom: 44px;

		h1 {
			position: absolute;
			color: #00ffa3;
			padding: 0 0 10px;
			font-size: 1vw;

			&:after {
				content: "";
				border-bottom: 1px solid #00ffa3;
				left: 0;
				right: 0;
				bottom: 5px;
				height: 1px;
				position: absolute;
			}
		}
	}
	.wrapper {
		padding-left: 76px;

		.half-block {
			width: 50%;
			float: left;

			&:nth-child(2) {
				.title {
					width: 404px;
				}
			}
		}

		.title {
			width: 280px;
			height: 100px;
			position: relative;
			margin-bottom: 44px;

			h1 {
				position: absolute;
				color: #0000ff;
				padding: 0 0 10px;
				font-size: 2vw;
				font-weight: 800;

				&:after {
					content: "";
					border-bottom: 2px solid #0000ff;
					left: 0;
					right: 0;
					bottom: 5px;
					height: 1px;
					position: absolute;
				}
			}

		}

		.text {

		}

	}
}

#why {
	.h1-wrapper {
		width: 251px;
		height: 35px;
		margin-left: 76px;
		position: relative;
		margin-bottom: 44px;

		h1 {
			position: absolute;
			color: #00ffa3;
			padding: 0 0 10px;
			font-size: 1vw;

			&:after {
				content: "";
				border-bottom: 1px solid #00ffa3;
				left: 0;
				right: 0;
				bottom: 5px;
				height: 1px;
				position: absolute;
			}
		}
	}

	.with {
		padding-left: 76px;
		margin-bottom: 70px;

		.half-block {
			width: 50%;
			float: left;
			span {
				font-size: 2vw;
				line-height: 2.7vw;
				font-weight: 800;
				color: #0000ff;
				text-transform: uppercase;
			}

			&:nth-child(2) {
				float: right;
				img {
					width: 100%;
				}
			}
		}
	}
	.experts {
		margin: 100px 76px;
		.tetra-block {
			width: 20%;
			float: left;
			padding: 0 30px;

			.image {
				img {
					max-height: 250px;
					min-height: 250px;
				}
			}

			.text {
				margin-top: 60px;
			}
		}
	}
}

#dream {
	.dream {
		float: left;
		width: 40%;
		background-color: #0000ff;
		padding: 80px 0;

		.h1-wrapper {
			width: 140px;
			height: 35px;
			margin-left: 76px;
			position: relative;
			margin-bottom: 44px;

			h1 {
				position: absolute;
				color: #FFF;
				padding: 0 0 10px;
				font-size: 1vw;

				&:after {
					content: "";
					border-bottom: 1px solid #FFF;
					left: 0;
					right: 0;
					bottom: 5px;
					height: 1px;
					position: absolute;
				}
			}
		}


		span {
			color: #FFF;
			width: 90%;
			padding-left: 76px;
			font-size: 2vw;
			text-transform: uppercase;
			font-weight: 800;
			display: block;
		}
	}
	.reweave {
		width: 60%;
		float: left;
		margin-top: 4%;
		.bg-under {
			img {
				float: right;
				width: 70%;
			}
		}
		.bg-over {
			img {
				margin-top: -6%;
				margin-right: 6%;
				width: 80%;
				float: right;
			}
		}
	}
}

#join {
	padding: 180px 0 60px 0;
	overflow: hidden;

	.h1-wrapper {
		width: 140px;
		height: 35px;
		margin-left: 76px;
		position: relative;
		margin-bottom: 44px;

		h1 {
			position: absolute;
			color: #00ffa3;
			padding: 0 0 10px;
			font-size: 1vw;

			&:after {
				content: "";
				border-bottom: 1px solid #00ffa3;
				left: 0;
				right: 0;
				bottom: 5px;
				height: 1px;
				position: absolute;
			}
		}
	}

	.who-text {
		width: 40%;
		position: absolute;
		left: 10%;
		span {
			font-size: 5.75vw;
			font-weight: 800;
		}
	}
	.lines {
		img {
			display: block;
			width: 80%;
			float: right;
			margin-right: -150px;
		}
	}


	.partner {
		margin-top: 70px;
		height: 142px;
		background: #0000ff;
		position: relative;
		.wrapper {
			width: 100%;
			padding: 0;
			position: absolute;
			margin: -1.5vw 0 0 -36vw;
			top: 50%;
			left: 50%;
			.email {
				float: left;
				svg {
					height: 65px;
					fill: #FFF;
					vertical-align: middle;
				}
			}
			span {
				color: #FFF;
				float: left;
				font-weight: 800;
				font-size: 2vw;
				margin-left: 2%;
			}
		}
	}

	.wrapper {
		padding-top: 60px;
		.image-wrapper {
			width: 50%;
			float: left;

			img {
				width: 100%;
			}
		}

		.text-wrapper {
			width: 50%;
			float: right;
			span {
				padding-left: 25px;
				font-size: 2vw;
				font-weight: 800;
				display: block;
				line-height: 1.5vw;

				a {
					color: #0000ff;
					&:hover, &:active {
						color: #0000ff;
						text-decoration: none;
					}
				}

				&.top {
					padding-bottom: 8%;
				}

				&.bottom {
					line-height: 2vw;
					font-weight: 500;
				}
			}
		}
		&:nth-child(2) {
			.image-wrapper {
				float:right;
			}

			.text-wrapper {
				float:left;
				text-align: right;
				padding-right: 2%;
			}
		}
	}


}
